*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    gap: 20px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: tomato;
}

@media screen and (max-width:600px){
    .parent{
        flex-direction: column;
    }
}
