@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Bebas Neue", sans-serif;

}
body{
    height: 100vh;
    width: 100vw;

}
.Maincontainer{
    background-color: #0A0A0C;
    color: white;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem ;
}
#heading{
    color: rgb(229, 59, 229);
    font-size: 50px;

}
.headerdesc{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 30%;
    font-size: 28px;
    align-items: center;
    gap: 3rem;
    

}
.headerdesc p{
    cursor: pointer;
    transition: all 0.1S linear;
} 
.headerdesc p:hover{
    color: rgba(250, 155, 170, 0.951);

}
.FIRSTCONTAINER{
    height: 80vh;
    width: 100vw;
    /* background-color: #038BCF; */
    /* background: #020024; */
   background-color: #2E0B35;
   display: flex;
   justify-content: center;
   color: white;
   align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#first{
    font-size: 150px;
    letter-spacing: 4px;
    color: rgb(229, 59, 229);
}
#second{
    font-size: 50px;
    text-align: center;
    /* background: red; */
    margin-top: -2rem;
}
.middle{
    display: flex;
    /* background-color: brown; */
    height: 3.6rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    /* width: 100%; */
}
#firstbutton{
    width: 40%;
    /* text-align: center; */
    font-size: 32px;
    /* height: 100%; */
    padding: 4px 10px;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -8%;
    background-color: #A83379;
    border-radius: 23px;
}
#secondbutton{
    width: 40%;
    /* text-align: center; */
    font-size: 32px;
    /* height: 100%; */
    padding: 4px 10px;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 8%;
    background-color: #A83379;
    border-radius: 23px;
}
.secondcontainer{
    height: 100%;
    background-color:  #3A1A3F;
}
#menu{
    font-size: 5rem;
    margin-left: 4rem;
    color: #ea97da;
}
.menucontainer{
    display: flex;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    justify-content: space-between;
    color: aliceblue;

}
.leftcontainer , .rightcontainer{
    width: 45%;
    background-color: #1A1921;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;

}
.drink{
    font-size: 60px;
    text-align: center;
}
.menucard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.MenuDescription{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.name, .price{
    font-size: 2rem;

}

.thirdcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #170827;
    height: 100vh;
}
.innercontainer{
    width: 90%;
    height: 100vh;
    margin: 2rem auto;
    /* background-color: red; */
    background-color: #2E0B35;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
#special{
    font-size: 50px;
    color: white;
    padding: 15px;
}
.logo{
    height: 70px;
    width: 70px;
    display: flex;
    background-color: red;
    position: absolute;
    left: 45%;
    top: 10%;
    border-radius: 50%;
}
.grid{
    width: 90%;
    margin: auto;
   height: 150%;
    /* background-color: red; */
}
.grid1,.grid2{
    width: 90%;
    height:36vh;
    /* background-color: olivedrab; */
    display: flex;
    margin: auto;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.gridItem{
    background-color: #59425a;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    color: rgb(235, 229, 229);
    border-radius: 10px;
}
.a{
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #2B1321;
    width: fit-content;
    position: relative;
    left: 75%;
    top: 0.5rem;
   
}
.title{
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.titleDescription{
     text-align: justify; 
    text-align: center; 
    width: 100%;
    
}
.forthcontainer{
    background-color: #1F092D;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    gap: 2rem;
    
}
.header{
    font-size: 5rem;
    /* padding: 2rem; */
    padding-left: 5rem;

}
.description{
    display: flex;
    justify-content: center;
    
    gap:3rem;
    font-size: 2.5rem;
    /* background-color: pink */
    
}
.description p{
    background-color:#813681;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.05s ease-in-out;
    /* color: #5459BD; */
}
.description p:hover{
    background-color: #a65da6;;
}
.description p:active{
    transform: scale(0.95);
}
.textlogo{
    display: flex;
    width: 80vw; 
     margin: auto; 
     gap: 2rem;

     

}
 .textlogo .text h2{ 
    color:#BC326B;
    font-size: 3rem; 
}
.textlogo .text p{
    font-size: 1.5rem;
}



.image1{
    display: flex;
    align-items: center;
    
}
.textlogo img{
    width: 500px;
    height: 400px;
    border-radius: 15px;
   
}
.text{
    width: 50%;
    height: 80vh;
    background-color: #181820;
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 2rem;
}
.fivethcontainer{
    background-color: #2A0E37;
    width: 100vw;
    height: 100vh;
    
}
.fivethcontainer p{
    color:#E1DFE4;
    font-size: 4rem;
    padding: 2rem;
}
.lastheader{
    /* background: red; */
    display: flex;
    align-items: start;
    width: 80vw;
    height: 80vh;
    margin: auto;
    gap: 2rem;
}
.left,.right{
    min-height: 98%;
    width: 50%;
    display: flex;
    flex-direction: column;
    
    background-color: #191923;
    align-items: start;
}
.left p{
    font-size: 2rem;
    /* margin-top: -0.2rem; */
    margin-bottom: -1.3rem;

}
.left div{
    height: 2.5rem;
    width: 80%;
    /* background: white; */
    background-color: #0C0D0F;
    margin-left: 1.5rem;
    margin-top: -0.4rem;
}
.left .big{
    height: 4rem;
   
}
.left #Submit{
    background-color:;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#Submit button{
  width: 200px;
  height: 3rem;
  background-color: #8D3893;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.1s linear;
}
#Submit button:hover{
    background-color:#b351ba ;
}
.right h1{
    font-size: 3rem;
    padding: 1rem;
    color: #BC326B;
    
}
.small img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: contain;
    margin-left: 1rem;
    position: relative;
    top: 8px;
}
.small{
    display: flex;
    /* background-color: red; */
    align-items: center;
    gap: 10px;
}
.textsmall{
    /* display: flex; */
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

}
.textsmall h3{
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem; 
    
} 
.textsmall p{
    font-size: 1.2rem;
    padding: 0;
    /* width: 300px; */
}
.logoImg{
    display: flex;
    width:100%;
    height: 2rem;
    /* background-color: red; */
    justify-content: center;
    gap: 1rem;
}
i{
    font-size: 1.5rem;
    color: white;
    width: 3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
}

.sixcontainer{
    background-color: #0B0C0E;
    width: 100vw;
    height: 35vh;
    color: white;
    /* gap: 4rem; */
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
    padding: 2rem;
}
.para{
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 1.2rem;
}
.design{
    display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 1.2rem;
   padding: 1rem; 
   
}
.middle p{
    cursor: pointer;
    transition: all o.5s linear;
}
#secondbutton:hover{
    background-color:#e779bb;
}
#firstbutton:hover{
 background-color:#e779bb;
}
.a{
    cursor: pointer;
    transition: all 0.1s linear;
}
.a:hover{
    background-color: #743c5d;
}
.gridItem img{
    /* height: 2000px; */
    transition: scale 0.2s linear;
}
.gridItem:hover img{
    transform: scale(1.05);
}



